/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/t/*.gff
/t/*.fasta
/t/*.fas
/t/*.2bit
/t/*.txt
*.swp
/t/*.swp
/t/\.*.swp
